body {
}
#loginpanel {
position: absolute;
width: 100%;
height: 67px;
left: 0px;
top: 0px;
background-color: rgba(0,0,0,.5);
text-align: center;
font: icon;
font-size: 16px;
}

#login { 
position: absolute;
width: 100%;
top: 0px;
background-color: rgba(0,0,0,.5);
text-align: center;
font: icon;
font-size: 16px;

text-align:center;
font:icon;
font-size: 16px;

//border-radius:10px;
}

.logintext {
text-align: left;
font: icon;
left:10px;
font-size: 32px;
line-height: 67px;
position: absolute;
color: white;
font-weight:bold;

//-webkit-text-stroke: 1px black;
}

#username {
width: 160px;
height: 20px;
position: absolute;
top: 5px;
right: 180px;
}

#password {
width: 160px;
height: 20px;
position: absolute;
right: 180px;
top: 35px;
}

.button {
text-align: center;
align-content: center;
outline: 0;
background-color: white;
border: 0;
padding: 10px 15px;
color: #53e3a6;
border-radius: 3px;
width: 250px;
height: 30px;
line-height: 30px;
cursor: pointer;
font-size: 18px;
font-family: "Helvetica Neue",Helvetica,Arial;
text-decoration: none;
}

.login {
right: 0px;
top: 5px;
position: absolute;
}

.signup {
right: 0px;
top: 35px;
position: absolute;
}

.menu {
width:150px;
height:100%;
position:fixed;
background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}

.logoutframe {
position:absolute;
bottom:8px;
width: 100%;
}


.changeUser {
    display: block;
    padding: 20px;
cursor: pointer;
font-size: 18px;
text-align: center;
align-content: center;
line-height: 0px;
font-family: "Helvetica Neue",Helvetica,Arial;
color: #fff;
height: 26px;
width: 200px;
border-radius: 5px;
border: solid;
position: absolute;
top: 470px;
left: calc(50% - 107px);
}

.upload-button {
display: block;
padding: 20px;
cursor: pointer;
font-size: 18px;
text-align: center;
align-content: center;
line-height: 0px;
font-family: "Helvetica Neue",Helvetica,Arial;
color: #fff;
height: 26px;
width: 100px;
border-radius: 5px;
border: solid;
}
.save {
    display: block;
    padding: 20px;
cursor: pointer;
font-size: 18px;
text-align: center;
align-content: center;
line-height: 0px;
font-family: "Helvetica Neue",Helvetica,Arial;
color: #fff;
height: 26px;
width: 100px;
border-radius: 5px;
border: solid;
}

.changeBlurb {
	   display: block;
	margin: auto;
    padding: 20px;
	
cursor: pointer;
font-size: 18px;
text-align: center;
align-content: center;
line-height: 0px;
font-family: "Helvetica Neue",Helvetica,Arial;
color: #fff;
height: 26px;
width: 250px;
border-radius: 5px;
border: solid;
}

.userimg {
    width: 200px;
    height: 200px;
    background-position: center center;
    background-size: cover;
	margin-top: 20px;
}
.blurbForm {
	/*width: 200px;
    height: 200px;
    background-position: center center;
    background-size: cover;
	margin-top: 20px;*/
}

.file-upload, .changeUserBtn, .saveBtn, .submit, #file, .blurbBtn {
    display: none;
}

.logoutbutton {
width:100%;
height:100%;
}

.chatframe {
width: calc(100% - 0px);
height:calc(100% - 40px);
position:fixed;
left:0px;
top:40px;
background: linear-gradient(rgba(0,0,0,.75), rgba(255,255,255,.25));
}

.submitmessage {
width: calc(100% - 0px);
height:80px;
position:fixed;
bottom:0px;
left:0px;
background: #53e3a6;
}

.messagebox {
width: calc(100% - 150px);
left:15px;
top:10px;
height:60px;
position:absolute;
}

.entermessage {
border-radius:0px;
height:100%;
width:120px;
right:0px;
position:absolute;
}

.messages {
overflow: hidden;
width: calc(100% + 18px);
height: calc(100% - 23px);
background: url('../images/backgroundplanet.png');
background-repeat: no-repeat;
background-size: cover;
}

.message {
width:100%;
height:30px;
font-size:30px;
line-height:30px;
background:rgba(255,255,255,0);
//-webkit-text-stroke: 1px black;
font-family: "Helvetica Neue",Helvetica,Arial;
color:white;
}

.error {
width:100%;
height:80px;
line-height:80px;
font-size:80px;
font-family: "Helvetica Neue",Helvetica,Arial;
font-weight:bold;
background-color:red;
color:white;
text-align:center;
}

.header {
    position: absolute;
    width:calc(100% + 5px);
    height:37px;
    top:-5px;
    left: -5px;
    background-color:rgba(0,0,0,.5);
    border-bottom:3px solid white;
}

#menutoggle {
    src=url('../images/menuiconwhite.png');
    position:absolute;
    width:40px;
    height:40px;
    left:5px;
}
.backbtn {
    src=url('../images/menuiconwhite.png');
    position:absolute;
   
    height:23px;
	top: 6px;
    left:55px;
}


.menubar {
    position: absolute;
    height:calc(100% - 32px);
    width:137px;
    left:-140px;
    top:32px;
    background: rgba(0,0,0,.5);
    border-right:3px solid white;
}

.menubutton {
width:100%;
height:30px;
line-height:30px;
color:white;
cursor: pointer;
font-family: "Helvetica Neue",Helvetica,Arial;
font-weight:bold;
background-color:rgba(0,0,0,0);
display: block;
text-decoration: none;
border-bottom: solid 3px rgba(0,0,0,.25);
}

.menutext {
width:100%;
height:20px;
color:white;
font-family: "Helvetica Neue",Helvetica,Arial;
font-weight:bold;
text-align:center;
margin-top:5px;
text-decoration:none;
}

.headertext {
    font-family: 'Nova SOLID', sans-serif;
    color: white;
    font-size: 70px;
    line-height: 80px;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    visibility: hidden;
    letter-spacing: 5px;
}
h1 {
    font-family: 'Nova SOLID', sans-serif;
    color: white;
    font-size: 120px;
    line-height: 80px;
    width: 100%;
    top: 10%;
    text-align: center;
    letter-spacing: 5px;
	margin-top: 50px;
}
#userimg {
    height: 200px;
    left: 50%;
    padding: 50px;
    top: 50%;   
}

.wrapper {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    overflow: scroll;
    z-index: -1;
	text-align: center;
}

.usersearch {
    position: absolute;
    top: calc(10% + 37px);
    left: calc(30% + 0px);
    width: 40%;
    height: 20px;
}

.searchbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 3px solid rgba(255, 255, 255, .4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 70%;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
    float: left;
}

.submitsearch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 30%;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    height: 47px;
}
.paragraph {
	
	font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
	
}

.result{
    position: relative;
    width: 80%;
    height: 200px;
    color: #53e3a6;
	
	text-decoration: none;
	display: block;
	
    background-color: white;
    border-radius: 10px;
    left: 10%;
    font: 30px Arial;
    line-height: 40px;
    text-align: center;
    margin-top: 40px;
}


#paragraph {
	
	font-family: 'Source Sans Pro', sans-serif;
  color: white;
    
    text-align: center;
    padding-top: 100px;
    font-size: 27px;
  font-weight: 300;
	
}
h3 {
	font-family: 'Source Sans Pro', sans-serif;
  color: white;
    
    text-align: center;
    padding-top: 280px;
    font-size: 27px;
  font-weight: 300;
}
.profileHeader {
	font-family: 'Source Sans Pro', sans-serif;
 
    
    text-align: center;
    padding-top: 10px;
    font-size: 27px;
  font-weight: 300;
}
.profiletxt {
	font-family: 'Source Sans Pro', sans-serif;
  color: white;
    
    text-align: center;
    padding-top: 5px;
    font-size: 17px;
  font-weight: 300;
}
.back {
    font-size: 20px;
    z-index: 5;
}
.abtHeader {
    padding-top: 40px;
}

.profileh {
	font-size: 150px;
	font-family: 'Nova SOLID', sans-serif;
    color: white;
    
    line-height: 80px;
    width: 100%;
    top: 10%;
    text-align: center;
    letter-spacing: 5px;
	margin-top: 90px
}
.profileimage {
	position: absolute;
top: calc(2.5% + 180px);
left: calc(50% - 100px);
padding: 20px;
line-height: 0;
width: 200px;
	
}
.profilecircle {
	border-radius: 50%;
}

.imageresult{
	border-top-left-radius: 10px;
	width: 30px;
	height: 30px;
	float: left;
}

.usernameresult{
	float: left;
	text-decoration: none;
	color: #53e3a6;
	
}

.results {
    margin-top: 180px;
}

.saveimage {
position: absolute;
top: calc(50% + 180px);
left: calc(50% - 100px);
padding: 20px;
line-height: 0;
width: 200px;
}

#uploadimage {
	/* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.chatimg {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}


body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.blurbForm {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

.blurbForm input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
.blurbForm input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.blurbForm input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
.blurbForm button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.blurbForm button:hover {
  background-color: #f5f7f9;
}

.changePassForm {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

.changePassForm input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
.changePassForm input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.changePassForm input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
.changePassForm button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.changePassForm button:hover {
  background-color: #f5f7f9;
}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
@import url(http://db.onlinewebfonts.com/c/e2ada776bd0252e6e44e89ea055cad60?family=Nova+SOLID);

@font-face {font-family: "Nova SOLID";
    src: url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.eot");
    src: url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/e2ada776bd0252e6e44e89ea055cad60.svg#Nova SOLID") format("svg");
}
@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Thin.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
     url('fonts/Gotham-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('fonts/Gotham-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 300;
   font-style: normal;
 }

.admin {
    color: #FFF000;
}
